<header class="p-2 mb-4 border-bottom">
	<div class="row head_nav">
		<div class="col text-center">
			<a class="mb-4" href="/">
				<img class="logopicture" alt="LOGO" src="/static/images/MSE.png">
			</a>
		</div>
	</div>
	<div class="row topnav head_nav">
		<!--div class="col">
            <a href="/set_language?language=hu" class="nav-link">
                <img class="flag-img" src="/static/images/hu.svg" height="20" alt="Flag of Hungary">
            </a>
        </div>
        <div class="col">
            
            <a href="/set_language?language=en" class="nav-link">
                <img class="flag-img" src="/static/images/gb.svg" height="20" alt="Flag of United Kingdom">
            </a>
        </div>
        <div class="col">
            <a href="/set_language?language=fr" class="nav-link">
                <img class="flag-img" src="/static/images/fr.svg" height="20" alt="Flag of France">
            </a>
        </div-->
		<div class="col"><a href="/"><%= dict[lang].main_page_link_text %></a></div>
		<div class="col"><a href="/notice" class="nav-link"><%= dict[lang].notice_link_text %></a></div>
		<div class="col"><a href="/settings" class="nav-link"><%= dict[lang].settings_link_text %></a></div>
		<div class="col"><a href="/archive" class="nav-link"><%= dict[lang].archive_link_text %></a></div>
		<div class="col"><a href="/logout" class="nav-link"><%= dict[lang].logout_link_text %></a></div>
	</div>
	<div class="row topnav head_nav mt-3">
		<div class="col">
			<div><%= dict[lang].logged_in_text_prefix %><%= locals?.user?.email ?? "" %></div>

			<% if (locals?.user?.association_member) { %>
			<div>
				<%= dict[lang].association_member %>
				<span style="color:green; font-weight: bolder; font-size: larger;">&#10003;</span>
			</div>
			<% } else { %>
			<div>
				<%= dict[lang].not_association_member %>
				<span style="color:red; font-weight: bolder; font-size: large;">&#9587;</span>
				<div><%= dict[lang].if_you_are_association_member_please_send_email %>
					<a href="mailto:<%= dict[lang].association_email %>"><%= dict[lang].association_email %></a>
				</div>
			</div>
			<% } %>
		</div>
	</div>

</header>