<form action="/modify_rating" id="modify_rating_form" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="secret_id" value="<%= rating.secret_id %>">
    <input type="hidden" name="judge_email" value="<%= judge.email %>">

    <% if (locals?.rating?.table_leader ?? false) { %>
        <div class="mt-5 mb-3">
            <h3>Képek</h3>
        </div>
        <div class="mt-5 text-center">
            <div id="picture_input_blocks">
                <% for(let i=0; i < number_of_pictures; ++i) { %>
                    <div class="picture_input_block preloaded" style="display: flex;">
                        <button type="button" class="remove_picture_button btn btn-danger" id="remove_picture_<%= i+1 %>">Törlés</button>
                        <div class="progress_bar" style="--width: 0; display:none;" data-label="Feldolgozás..."></div>
                        <div class="picture_preview"><img src="<%= process.env.SERVER_URL %>/rating_pictures?picture_state=regular&secret_id=<%= locals?.rating?.secret_id %>&index=<%= i %>"></div>
                        <label style="display:none;" for="picture_<%= i+1 %>" class="picture_input_label btn btn-primary">Kép készítése</label>
                        <input style="display:none;" type="file" accept="image/*" class="picture_input" id="picture_<%= i+1 %>" name="picture_<%= i+1 %>">
                    </div>
                <% } %>
                <% for(let i = number_of_pictures; i < 5; ++i) { %>
                    <div class="picture_input_block" style="display: none;">
                        <button style="display: none;" type="button" class="remove_picture_button btn btn-danger" id="remove_picture_<%= i+1 %>">Törlés</button>
                        <div class="progress_bar" style="--width: 0; display:none;" data-label="Feldolgozás..."></div>
                        <div class="picture_preview"></div>
                        <label for="picture_<%= i+1 %>" class="picture_input_label btn btn-primary">Kép készítése</label>
                        <input disabled type="file" accept="image/*" class="picture_input" id="picture_<%= i+1 %>" name="picture_<%= i+1 %>">
                    </div>
                <% } %>
            </div>

            <button type="button" class="btn btn-info" id="add_picture">Új kép</button>
            <div id="max_picture_count_reached" style="display:none;">Több kép hozzáadása nem lehetséges.</div>
        </div>
        <% } %>

	<div class="container">
		<div class="row">
			<div class="col">
				<input <% if(rating.anonymous){ %> checked <% } %> class="form-check-input flex-shrink-0" type="checkbox" id="anonymous_rating" name="anonymous_rating">
				<label class="fw-bold" for="anonymous_rating">Anonim módon bírálok</label>
			</div>
		</div>
	</div>

	<% rating_sheet.forEach(function(aspect, aspectnumber){ %>
	<div class="mt-5 mb-3">
		<h3><%= dictionary[aspect.title] %></h3>
	</div>

	<div class="row g-1 mt-2 mb-2">
		<% aspect.blocks.forEach(function(block, blocknumber){ %>
		<div class="col-sm-4 list-group mb-2">
			<% block.forEach(function(property){ %>
			<label class="list-group-item">
				<input <% if(rating.aspects[aspectnumber].blocks[blocknumber].includes(property)){ %> checked <% } %> class="form-check-input flex-shrink-0" name="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>" type="checkbox" id="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>">
				<span for="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>"><%= dictionary[property] %></span>
			</label>
			<% }) %>
		</div>
		<% }) %>
	</div>

	<div class="col-12 col-sm-12">
		<label class="h5" for="score_<%= aspect.title %>">Pontszám:</label>
		<input class="col-3 mt-1 score_input text-center" type="number" id="score_<%= aspect.title %>" name="score_<%= aspect.title %>" min="0" max="<%= aspect.score %>" placeholder="0-<%= aspect.score %>" required value="<%= rating.aspects[aspectnumber].score %>">
	</div>

	<div class="h5 mb-2 mt-2">
		<label for="comment_<%= aspect.title %>">Megjegyzés:</label>
	</div>

	<div class="text-center">
		<textarea class="form-control" id="comment_<%= aspect.title %>" maxlength="250" minlength="12" name="comment_<%= aspect.title %>" required rows="3" cols="40"><%= rating.aspects[aspectnumber].comment %></textarea>
	</div>

	<% }) %>


	<div class="h5 mb-2 mt-5">
		<label for="overall_impression">Összbenyomás:</label>
	</div>

	<div class="text-center">
		<textarea class="form-control" id="overall_impression" maxlength="250" minlength="25" name="overall_impression" required rows="3" cols="40"><%= rating.overall_impression %></textarea>
	</div>

	<div class="h5 mb-2 mt-4 text-center">
		<div>Összpontszám:</div>
		<div id="score_sum"></div>
	</div>

	<div class="col-12 text-center"><input class="mt-5 w-50 btn btn-lg btn-primary" type="submit" id="submit_rating_button" value="Mentés"></div>

</form>