<!DOCTYPE html>
<html lang="hu">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/assets/css/MSE_1_32x32.png">
	<title>Verseny beállításai | Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style_2.css">
	<script src="/assets/scripts/settings/general/script.js" defer></script>
</head>

<body>

	<%- include('header') %>

	<main>
		<%- include('feedback') %>
		<div class="container">

			<div class="row justify-content-center">

				<div class="mwidth col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ">

					<div class="col-12 h3 mb-3 fw-normal">
						Beállítások
					</div>

					<div class="col-12 mwidth  h3 mt-3 mb-3 fw-normal">
						Verseny beállításai
					</div>

					<form class="row g-3" id="receipt_settings_form" action="/settings/receipt" method="POST">

						<div class="col-12">
							<label class="form-label" for="competition_name">Verseny neve:</label>
							<input class="form-control" type="text" id="competition_name" name="competition_name" placeholder="Sajtmustra" required value="<%= receipt_settings.competition_name %>">
						</div>

                        <div class="col-12">
							<label class="form-label" for="competition_location">Verseny helye:</label>
							<input class="form-control" type="text" id="competition_location" name="competition_location" placeholder="Budapest" required value="<%= receipt_settings.competition_location %>">
						</div>

                        <div class="col-12">
							<label class="form-label" for="entry_fee_amount">Nevezés díja:</label>
							<input class="form-control" type="text" id="entry_fee_amount" name="entry_fee_amount" placeholder="5000" required value="<%= receipt_settings.entry_fee_amount %>">
						</div>

                        <div class="col-12">
							<label class="form-label" for="entry_fee_currency">Nevezési díj valutája:</label>
							<input class="form-control" type="text" id="entry_fee_currency" name="entry_fee_currency" placeholder="HUF" required value="<%= receipt_settings.entry_fee_currency %>">
						</div>

						<div class="col-12">
							<label class="form-label" for="paid_competition">A verseny fizetős</label>
							<!--<input class="" type="checkbox" role="switch" id="paid_competition" name="paid_competition">-->
							<input <% if(receipt_settings.paid_competition ?? false) { %> checked <% } %> class="form-check-input" name="paid_competition" type="checkbox" id="paid_competition">

						</div>
						
                        <div class="alert alert-warning d-flex align-items-center mb-3" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                                <use xlink:href="#exclamation-triangle-fill"></use>
                            </svg>
                            <div>
                                A nevezési díj valutáját csak olyan értékre szabad állítani, amely megegyezik a Barion elfogadóhely beállított valutájával!
                                A valutát a 3 karakterből álló, Az ISO 4217 szabvány szerinti devizakódként kell megadni.
                            </div>
                        </div>

						<div class="col-12 text-center">
							<button class="w-50 btn btn-lg btn-primary" type="submit">Mentés</button>
						</div>

					</form>

				</div>

			</div>

		</div>

	</main>

	<%- include('footer') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>