<div>

	<div class="container">
		<div class="row">
			<div>
				<div class="fw-bold">Kategória:</div>
				<div>
					<li><%= category_dictionary[cheese.milk_type] %></li>
				</div>
				<div>
					<li><%= category_dictionary[cheese.product_category_list.at(-1)] %></li>
				</div>
				<div class="fw-bold mt-3">Termék bemutatása:</div>
				<div>
					<%= cheese.product_description %>
				</div>
			</div>

			<% if((locals?.rating_pictures?.length ?? 0) !== 0 && (locals?.rating?.table_leader ?? false) ) { %>
			<div class="col-12 h3 mt-5 mb-3 fw-normal text-center">
				Készített képek
			</div>
			<div id="picture_previews_block">
				<% for(let i=0; i < rating_pictures.length; ++i) { %>
				<div class="picture_preview"><img src="<%= process.env.SERVER_URL %>/rating_pictures?picture_state=regular&secret_id=<%= locals?.rating?.secret_id %>&index=<%= i %>"></div>
				<% } %>
			</div>
			<% } else if ((locals?.rating_pictures?.length ?? 0) === 0 && (locals?.rating?.table_leader ?? false)){ %>
			<div class="col-12 h3 mt-5 mb-3 fw-normal text-center">
				Nem készültek képek.
			</div>
			<% } %>

			<div class="mt-5 text-center">
				<input <% if(rating.anonymous){ %>checked<% }%> disabled type="checkbox" id="anonymous_rating">
				<label class="fw-bold" for="anonymous_rating">Anonim módon bírálok</label>
			</div>

		</div>
	</div>


	<!--input <#% if(rating.anonymous){ %>checked<#% }%> disabled type="checkbox" id="anonymous_rating">
	<label class="fw-bold" for="anonymous_rating">Anonim módon bírálok</label-->

	<% rating_sheet.forEach(function(aspect){ %>
	<div class="mt-5 mb-3">
		<h3><%= dictionary[aspect.title] %></h3>
	</div>

	<div>
		<label class="h5" for="score_<%= aspect.title %>">Pontszám:</label>
		<input class="score_input text-center" disabled type="text" value="<%= rating.aspects.find(e => e.title === aspect.title).score %>/<%= aspect.score %>" id="score_<%= aspect.title %>">
	</div>

	<div class="row mt-2 mb-2">
		<% aspect.blocks.forEach(function(block, blocknumber){ %>
		<div class="col-sm-4 list-group mb-2">
			<% block.forEach(function(property){ %>
			<label class="list-group-item">
				<input class="form-check-input flex-shrink-0" <% if(rating.aspects.find(e => e.title === aspect.title).blocks[blocknumber].includes(property)){ %> checked <% } %> disabled type="checkbox" id="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>">
				<span for="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>"><%= dictionary[property] %></span>
			</label>
			<% }) %>
		</div>
		<% }) %>
	</div>

	<div class="h5 mb-2">
		<label for="comment_<%= aspect.title %>">Megjegyzés:</label>
	</div>

	<div class="text-center">
		<textarea class="form-control" disabled id="comment_<%= aspect.title %>" rows="3" cols="40"><%= rating.aspects.find(e => e.title === aspect.title).comment %></textarea>
	</div>
	<% }) %>

	<div class="h5 mb-2 mt-5">
		<label for="overall_impression">Összbenyomás:</label>
	</div>

	<div class="text-center">
		<textarea class="form-control" disabled id="overall_impression" rows="3" cols="40"><%= rating.overall_impression %></textarea>
	</div>

	<div class="h5 mb-2 mt-4 text-center">
		<div>Összpontszám:</div>
		<div>
			<% let sc=0; rating.aspects.forEach(a => { sc += Number.parseInt(a.score) }) %>
			<%= sc %>
		</div>
	</div>

	<div class="row aligncenter text-center py-4">
		<div>
			<a class="col-3 btn btn-primary" href="/view_ratings?public_id=<%= cheese.public_id %>">Vissza</a>
		</div>
	</div>

</div>