<!DOCTYPE html>
<html lang="<%= lang %>" class="notranslate" translate="no">

<head>
	<!-- Required meta tags -->
    <meta name="google" content="notranslate">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= dict[lang].application_name %></title>
	<link rel="icon" type="image/x-icon" href="/static/images/MSE_1_32x32.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous"
        onerror="this.onerror=null;this.removeAttribute('integrity');this.href='/static/css/cached/bootstrap.min.css';">	
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style_2.css">
	<script src="/static/scripts/landing/cheese_id_dialog.js" defer></script>
</head>

<body>

	<%- include('header_authenticated') %>

	<main>
		<%- include('feedback') %>

		<div class="container-fluid text-center">

			<!-- új sajt értékelése -->
			<div class="text-center">
				<button class="w-20 btn btn-lg btn-primary mb-3 mt-3" id="rate_cheese_button"><%= dict[lang].new_rating %></button>
			</div>

			<!-- Érétkelendő sajt ID bevitel -->
			<dialog class="border-0 rounded shadow" id="secret_id_dialog">
				<div class="container">
					<div class="row justify-content-center">
						<form class="row g-3 justify-content-center text-center" action="/rate_cheese" id="secret_id_form" method="GET">

							<div class="col-12 col-sm-7 h5 mb-2 ">
								<label class="form-label" for="secret_id"><%= dict[lang].cheese_id %></label>
							</div>

							<div class="col-12 col-sm-7 mb-3 ">
								<input class="form-control" type="text" id="secret_id" name="secret_id" placeholder="<%= dict[lang].cheese_id %>" required>
							</div>

							<!-- Mégse gomb  -->
							<div class="col-12 col-sm-6">
								<button class="w-100 btn btn-sm btn-primary" id="cancel_secret_id_button" type="reset"><%= dict[lang].cancel %></button>
							</div>

							<!-- OK gomb  -->
							<div class="col-12 col-sm-6">
								<button class="w-100 btn btn-sm btn-primary" id="submit_secret_id_button" type="submit"><%= dict[lang].ok %></button>
							</div>

						</form>
					</div>
				</div>
			</dialog>

			<div>
				<% if(ratings.length === 0) { %>
				<div><%= dict[lang].you_did_not_rate_any_cheese_yet %></div>
				<% } else { %>
				<div><%= dict[lang].cheeses_rated_to_date %></div>
				
				<div>
                    <table>
                        <tr>
                            <th><%= dict[lang].secret_id %></th>
                            <th><%= dict[lang].options %></th>
                        </tr>
                        <% ratings.forEach(rating => { %>
                         <tr>
                            <td><%= rating.secret_id %></td>
                            <td>
                                <a class="btn btn-primary" href="/view_rating?secret_id=<%= rating.secret_id %>"><%= dict[lang].view_rating %></a>
                            </td>
                         </tr>
                        <% }) %>
                    </table>
					
				</div>
				
				<% } %>
			</div>

	</main>

	<%- include('footer') %>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>