<form action="/rate_cheese" id="rating_form" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="secret_id" value="<%= secret_id %>">

	<div class="container">
		<div class="row">
			<div>
				<div class="fw-bold"><%= dict[lang].category %></div>
				<div>
					<li><%= dict[lang][cheese.milk_type] %></li>
				</div>
				<div>
					<li><%= dict[lang][cheese.product_category_list.at(-1)] %></li>
				</div>
				<div class="fw-bold mt-3"><%= dict[lang].product_presentation %></div>
				<div>
					<%= cheese.product_description %>
				</div>
			</div>

			<% if (user.table_leader ?? false) { %>
            <div class="mt-5 mb-3">
                <h3><%= dict[lang].add_pictures_title %></h3>
            </div>
			<div class="mt-5 text-center">
				<div id="picture_input_blocks">
					<div class="picture_input_block" style="display: none;">
						<button style="display: none;" type="button" class="remove_picture_button btn btn-danger" id="remove_picture_1"><%= dict[lang].remove_picture_button_text %></button>
						<div class="progress_bar" style="--width: 0; display:none;" data-label="<%= dict[lang].picture_input_progress_bar_text %>"></div>
                        <div class="picture_preview"></div>
						<label for="picture_1" class="picture_input_label btn btn-primary"><%= dict[lang].input_picture_button_text %></label>
						<input disabled type="file" accept="image/*" class="picture_input" id="picture_1" name="picture_1">
					</div>
					<div class="picture_input_block" style="display: none;">
						<button style="display: none;" type="button" class="remove_picture_button btn btn-danger" id="remove_picture_2"><%= dict[lang].remove_picture_button_text %></button>
						<div class="progress_bar" style="--width: 0; display:none;" data-label="<%= dict[lang].picture_input_progress_bar_text %>"></div>
                        <div class="picture_preview"></div>
						<label for="picture_2" class="picture_input_label btn btn-primary"><%= dict[lang].input_picture_button_text %></label>
						<input disabled type="file" accept="image/*" class="picture_input" id="picture_2" name="picture_2">
					</div>
					<div class="picture_input_block" style="display: none;">
						<button style="display: none;" type="button" class="remove_picture_button btn btn-danger" id="remove_picture_3"><%= dict[lang].remove_picture_button_text %></button>
						<div class="progress_bar" style="--width: 0; display:none;" data-label="<%= dict[lang].picture_input_progress_bar_text %>"></div>
                        <div class="picture_preview"></div>
						<label for="picture_3" class="picture_input_label btn btn-primary"><%= dict[lang].input_picture_button_text %></label>
						<input disabled type="file" accept="image/*" class="picture_input" id="picture_3" name="picture_3">
					</div>
					<div class="picture_input_block" style="display: none;">
						<button style="display: none;" type="button" class="remove_picture_button btn btn-danger" id="remove_picture_4"><%= dict[lang].remove_picture_button_text %></button>
						<div class="progress_bar" style="--width: 0; display:none;" data-label="<%= dict[lang].picture_input_progress_bar_text %>"></div>
                        <div class="picture_preview"></div>
						<label for="picture_4" class="picture_input_label btn btn-primary"><%= dict[lang].input_picture_button_text %></label>
						<input disabled type="file" accept="image/*" class="picture_input" id="picture_4" name="picture_4">
					</div>
					<div class="picture_input_block" style="display: none;">
						<button style="display: none;" type="button" class="remove_picture_button btn btn-danger" id="remove_picture_5"><%= dict[lang].remove_picture_button_text %></button>
						<div class="progress_bar" style="--width: 0; display:none;" data-label="<%= dict[lang].picture_input_progress_bar_text %>"></div>
                        <div class="picture_preview"></div>
						<label for="picture_5" class="picture_input_label btn btn-primary"><%= dict[lang].input_picture_button_text %></label>
						<input disabled type="file" accept="image/*" class="picture_input" id="picture_5" name="picture_5">
					</div>
				</div>

				<button type="button" class="btn btn-info" id="add_picture"><%= dict[lang].add_picture_button_text %></button>
				<div id="max_picture_count_reached" style="display:none;"><%= dict[lang].max_picture_count_reached_text %></div>
			</div>
			<% } %>

			<div class="mt-5 text-center">
				<input class="form-check-input flex-shrink-0" type="checkbox" id="anonymous_rating" name="anonymous_rating">
				<label class="fw-bold" for="anonymous_rating"><%= dict[lang].i_rate_anonymously %></label>
			</div>

		</div>
	</div>

	<% rating_sheet.forEach(function(aspect){ %>
	<div class="mt-5 mb-3">
		<h3><%= dict[lang][aspect.title] %></h3>
	</div>

	<div class="row g-1 mt-2 mb-2">
		<% aspect.blocks.forEach(function(block, blocknumber){ %>
		<div class="col-sm-4 list-group mb-2">
			<% block.forEach(function(property){ %>
			<label class="list-group-item">
				<input class="form-check-input flex-shrink-0" name="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>" type="checkbox" id="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>">
				<span for="property_checkbox-<%= aspect.title %>-<%= blocknumber+1 %>-<%= property %>"><%= dict[lang][property] %></span>
			</label>
			<% }) %>
		</div>
		<% }) %>
	</div>

	<div class="col-12 col-sm-12">
		<label class="h5" for="score_<%= aspect.title %>"><%= dict[lang].score %></label>
		<input class="col-3 mt-1 score_input text-center" type="number" id="score_<%= aspect.title %>" name="score_<%= aspect.title %>" min="0" max="<%= aspect.score %>" placeholder="0-<%= aspect.score %>" required>
	</div>

	<div class="h5 mb-2 mt-2">
		<label for="comment_<%= aspect.title %>"><%= dict[lang].comment %></label>
	</div>

	<div class="text-center">
		<textarea class="form-control" id="comment_<%= aspect.title %>" maxlength="250" minlength="12" name="comment_<%= aspect.title %>" required rows="3" cols="40"></textarea>
	</div>
	<% }) %>

	<div class="h5 mb-2 mt-5">
		<label for="overall_impression"><%= dict[lang].overall_impression %></label>
	</div>

	<div class="text-center">
		<textarea class="form-control" id="overall_impression" maxlength="250" minlength="25" name="overall_impression" required rows="3" cols="40"></textarea>
	</div>

	<div class="h5 mb-2 mt-4 text-center">
		<div><%= dict[lang].total_score %></div>
		<div id="score_sum"></div>
	</div>

	<div class="col-12 text-center"><input class="mt-5 w-50 btn btn-lg btn-primary" type="submit" id="submit_rating_button" value="<%= dict[lang].save_button_text %>"></div>

</form>